.App {
  text-align: center;
}

.form{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.form input {
  background-color: #FDFDBD;
  text-align: center;
}

.cards {
  display: flex;
  
}

.card {
  margin: 5px;
}

