
.App {
  text-align: center;
}

.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.form input {
  background-color: #fdfdbd;
  text-align: center;
  margin-top: 15px;
}

.cards {
  display: flex;
  height: 25rem;
  
}

.card {
  margin: 5px;
} 

.cardItems{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: #C2B8A3;
}

.cardTitle{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color:#A19882 ;
}

.center {
  margin: auto;
  width: 60%;
  padding: 10px;
}



.previousDiv{
  background-color: #E6DDC6;
  height: 100vh;
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  
}

.dayName{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: #533d0d;
}

.sideContent{
  position:fixed;
  text-align: center;
}

.cardImage{
  height: 5rem;
}